.body__container {
    width: 100%;
    background-color: rgb(218, 219, 222);
    padding: 2%;
    padding-top: 30vh;
}

.body_title {
    justify-content: center;
    border-top-left-radius: 5px;
}

.body_title > h1 {
    color: white;
    background-color: black;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 40%;
    min-width: 230px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.body_products {
    margin-top: 2%;
    padding: 1%;
}

.body_products_container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.products__img {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    margin: 0 auto;
    font-size: 2vh;
    width: 90%;
    border: 3px solid rgb(0, 0, 0);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px;
}

.products__data {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.products__data > button {
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    min-width: 150px;
    margin-bottom: 10px;
}

.products__data > h4 {
    margin-top: 4px;
}

.card-body {
    background-color: rgb(187, 192, 192);
}