.header__container {
    padding: 1%;
    min-height: 10vh;
}

.header_img {
    width: 80%;
    min-width: 40vh;
    margin: 2%;
}

.header_contact_container {
    padding: 1%;
}

.header_contact_row_one {
    justify-content: center;
    text-decoration: underline;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    padding: 1%;
}

.header_contact_row_two {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    padding: 2%;
}

.header_contact_col > img {
    width: 15%;
    margin-left: 5px;
}